@media only screen and (min-width: 38rem) {
        header,
        main,
        nav,
        footer {
            max-width: 1200px;
            margin: 0 auto;
        }
    
        header {
            display: grid;
            grid-template-columns: 24px auto 292px;
        }

        .hamburguer {
            display: none;
        }
    
        .navigation {
            display: inline;
            grid-column: 3 / 4;
        }
    
        .navigation ul {
            display: flex;
        }
    
        .navigation a {
            border: none;
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .list section {
            font-size: medium;
        }
}