
@media only screen and (min-width: 600px) {

    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 24px auto 292px;
    }

    .hamburguer {
        display: none;
    }

    .navigation {
        display: inline;
        grid-column: 3 / 4;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 630px) {
    .middle {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        justify-self: center;
    }

    .events {
        width: 100%;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }

    #current-weather {
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #weather-forecast {
        width: 100%;
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

}

@media (min-width: 1200px) {
    .middle {
        display: grid;
        grid-template-columns: 400px 300px 300px;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        justify-self: center;
    }

    .events {
       width: 100%;
       grid-row: 1 / 2;
       grid-column: 1 / 2;
    }
    
    #current-weather {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #weather-forecast {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
}