:root {
    --primary-color: #0471A6;
    --secondary-color: #F8F32B;
}

* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.hamburguer {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    grid-column: 1 / 4;
}

.navigation.show {
    display: block;
    border-top: solid 1px var(--secondary-color);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .5rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #eee;

}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: var(--secondary-color);
    text-decoration: underline;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: left;
}

footer p {
    margin-bottom: 2px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 10px 0 10px 0;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
}

.social img {
    width: 44px;
    height: 44px;
}

.form-div {
    justify-self: center;
    margin: 10px;
}

h1, h2 {
    margin-left: 10px;
}

h1, h2 {
    margin-left: 10px;
}

form {
    margin: 10px 2%;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
}

label {
    display: block;
    font-size: small;
    padding-top: 5px;
}

input[type=text],
input[type=tel],
textarea,
input[type=email],
select {
    display: block;
    margin: 2px 0 10px 0;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 250px;
}

input[type=submit]{
    text-align: center;
    background-color: var(--primary-color);
    color: #eee;
    border-radius: 5px;
    padding: 5px;
}

.levels-info {
    justify-self: center;
    margin: 10px;
}

section {
    background-color: var(--primary-color);  
    width: 300px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #eee;
    margin-bottom: 5px;
    align-items: center;
    align-content: center;
}

section button {
    border-radius: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
}

dialog {
    width: 90%;
    max-width: 600px;
}

dialog h3 {
    margin-top: 10px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 0px;
    right: 0px;
}

#sentInfo {
    border: solid 1px var(--primary-color);
    background-color: var(--primary-color);
    max-width: 300px;
    justify-self: center;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
