@media only screen and (min-width: 630px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 30px auto 300px;
    }

    .hamburguer {
        display: none;
    }

    .navigation {
        display: inline;
        grid-column: 3 / 4;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    .navigation a {
        border: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form-info {
        display: grid;
        grid-template-areas:
        "title1 title2"
        "form next"
        "nothing next";
        max-width: 800px;
        margin: 0 auto;
    }

    .title1 {
        grid-area: title1;
        text-align: center;
    }

    .title2 {
        grid-area: title2;
        justify-self: center;
        margin-right: 30px;
        text-align: center;
    }

    .closest {
        grid-area: next;
        margin-right: 10px;
    }

    form {
        grid-area: form;
        align-self: center;
    }

    .under-form {
        display: block;
        width: 272px;
        height: 250px;
        object-fit: cover;
        justify-self: center;
        align-self: center;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
    }
}