:root {
    --primary-color: #d4a54e;
    --secondary-color: #933807;
    --accent1-color: #6d1d03;

    --heading-font: "Oldenburg", serif;
    --paragraph-font: "Noto Serif", serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
}

header {
    display: grid;
    grid-template-columns: 30px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    background-color: var(--primary-color);
    column-gap: 8px;
}

header span {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: larger;
}

header img {
    width: 30px;
    justify-self: center;
}

.hamburguer {
    background: none;
    border: none;
    color: var(--accent1-color);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    grid-column: 1 / 4;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .5rem 10px;
    color: var(--accent1-color);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
    font-family: var(--heading-font);
}

.navigation li.current {
    background-color: var(--secondary-color);
}

.navigation li.current a {
    color:#e6d0a4;
}

.navigation a:hover {
    background-color: var(--accent1-color);
    text-decoration: underline;
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    padding: 1rem 10px;
    text-align: left;
}

footer p {
    margin-bottom: 2px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 10px 0 10px 0;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
}

.social img {
    width: 44px;
    height: 44px;
}

.aboutme a {
    display: block;
    margin-bottom: 10px;
    color: black;
}

/* Hero Part */

.cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.container a {
    position: absolute;
    right: 15px;
    bottom: 15px;
    text-decoration: none;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    font-size: larger;
    padding: 10px;
    border-radius: 0.5rem;
}

.container a:hover {
    text-decoration: underline;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding-left: 10px;
}

/* Information Cards */

section {
    background-color: #e6d0a4;
    width: 300px;
    justify-self: center;
    padding: 10px;
    margin-bottom: 10px;
}

.activities {
    height: 445px;
}

section img {
    width: 280px;
    justify-self: center;
    align-content: center;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

section a {
    text-decoration: none;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    font-size: larger;
    padding: 5px;
    border-radius: 0.5rem;
    justify-self: center;
    align-content: center;
    text-align: center;
}